@using APIManager.Models

@model List<RequestViewModel>

<h1>Claims Manager</h1>

<div class="container">
    <div class="row">
        <div class="col-12 mb-3 mb-lg-5">
            <div class="overflow-hidden card table-nowrap table-card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="mb-0">Claims List</h5>
                    <a href="#!" class="btn btn-light btn-sm">View All</a>
                </div>
                <div class="table-responsive">
                    <table class="table mb-0">
                        <thead class="small text-uppercase bg-body text-muted">
                            <tr>
                                <th>Client</th>
                                <th>Route Path</th>
                                <th>Method Type</th>
                                <th>Body parameters</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var route in Model)
                            {
                                <tr class="align-middle">
                                    <td>
                                        <div class="d-flex align-items-center">                                            
                                            <div>
                                                <div class="h6 mb-0 lh-1">@route.Clients.First().ClientName</div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>@route.RoutePath</td>
                                    <td>@route.MethodType?.MethodTypeName</td>
                                    <td class="text-end">
                                        <table>
                                            <thead>
                                                <th>Parameter</th>
                                            </thead>
                                            <tbody>
                                                @if (route.RouteBody != null){
                                                @foreach(var param in route.RouteBody.RouteBodyParameters)
                                                {
                                                    <tr>
                                                        <td>@param?.BodyKey</td>
                                                    </tr>
                                                }
                                                }
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>